# Week 2 Activity

## Course: Artificial Intelligence and Machine Learning

* ### Ignacio Antonio Quintero Chávez.
* ### A01794419

**Important notes**

* You can work with the document either on Google Colab on your local machine.
* You should only work with the "california_housing_train.csv" file.
* This activity only consists of 3 exercises, divided into 3 parts.
* **You will only have to modify this file by adding your lines of code in the 3 parts indicated.**
* **Any modification outside these areas will deduct points from the activity.**

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns

from sklearn.pipeline import Pipeline
from sklearn.model_selection import KFold
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import power_transform
from sklearn.preprocessing import FunctionTransformer

from sklearn.impute import SimpleImputer
from sklearn.preprocessing import MinMaxScaler  
from sklearn.linear_model import LinearRegression

In [3]:
# Create a dataframe with the california housing train file

df = pd.read_csv("data/california_housing_train.csv", sep=",")
df.describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000
mean,-119.562108,35.625225,28.589353,2643.664412,539.410824,1429.573941,501.221941,3.883578,207300.912353
std,2.005166,2.137340,12.586937,2179.947071,421.499452,1147.852959,384.520841,1.908157,115983.764387
min,-124.350000,32.540000,1.000000,2.000000,1.000000,3.000000,1.000000,0.499900,14999.000000
25%,-121.790000,33.930000,18.000000,1462.000000,297.000000,790.000000,282.000000,2.566375,119400.000000
50%,-118.490000,34.250000,29.000000,2127.000000,434.000000,1167.000000,409.000000,3.544600,180400.000000
75%,-118.000000,37.720000,37.000000,3151.250000,648.250000,1721.000000,605.250000,4.767000,265000.000000
max,-114.310000,41.950000,52.000000,37937.000000,6445.000000,35682.000000,6082.000000,15.000100,500001.000000

### Exercise 1: Pearson Correlation Matrix

**Instructions:**

In this exercise you must only display the correlation matrix of the variables of the "df" dataframe, including in each cell of the matrix the numerical value of the correlation between each pair of variables.

When displaying the correlation matrix you must also use the heatmap option of the seaborn library, using the 'BuGn' color map.

You can consult the following documentation:

https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.corr.html

https://seaborn.pydata.org/generated/seaborn.heatmap.html

https://matplotlib.org/stable/tutorials/colors/colormaps.html

In [7]:
sns.set(rc={'figure.figsize':(9,6)}) 

#########################################################################
# INICIA LA SECCIÓN PARA AGREGAR CÓDIGO.
# Ejercicio 1
# Sustituye "None" por tus líneas de código dentro de esta región.
# Se esperan cuando mucho 2 líneas de código.

None

# TERMINA LA SECCIÓN PARA AGREGAR CÓDIGO.
#########################################################################

plt.show()

### Exercise 2: Transformations and Histograms of variables

**Instructions:**

In this exercise you should only work with the following 7 variables:

* housing_median_age
* total_rooms
* total_bedrooms
* population
* households
* median_income
* median_house_value

You should apply the following transformations to each of these columns and display their histograms with 20 bins:

* Square root with Numpy.
* Natural logarithm with Numpy.
* Power 2 (i.e., squaring) with Numpy.
* Box-Cox with scikit-learn.

In [ ]:

# Lista de los nombres de las 7 variables que trabajaremos en este ejercicio.
variables_a_transformar = ['housing_median_age','total_rooms','total_bedrooms','population','households','median_income','median_house_value']


sns.set(rc={'figure.figsize':(17,12)})
fig, axes = plt.subplots(5, 7)    
  
for k in range(0,7):       
 
    ################################################################################################################
    # INICIA LA SECCIÓN PARA AGREGAR CÓDIGO.
    # Ejercicio 2
    # Solamente deberás escribir tu código en las partes que dicen "None", sustituyendo este por tu código.
    # Deberás utilizar el dataframe "misdatos" con la lista que llamamos "variables_a_transformar" para 
    # seleccionar los valores de cada una de las 7 variables que se irán transformando y graficando.


    # Datos originales ---------------------------------------------------------
    plt.subplot(5,7,k+1) 

    Transf0 = None          #  En esta línea se debe asignar a Transf0 los valores de cada variable "k" sin transformar.
    None                    #  En este línea agrega el comando para obtener el histograma de Transf0 con 20 barras (bins).


    plt.xlabel(variables_a_transformar[k])
    if k==0:
      plt.ylabel('Originales')
    


    # Datos transformados con raíz cuadrada ------------------------------------
    plt.subplot(5,7,k+8)    

    Transf1 = None          #  En esta línea se debe aplicar la raíz cuadrada a los valores de cada variable "k" sin transformar.
    None                    #  En este línea agrega el comando para obtener el histograma de Transf1 con 20 barras (bins).


    plt.xlabel(variables_a_transformar[k])
    if k==0:
      plt.ylabel('Raíz Cuadrada')
    

    
    # Datos transformados con logaritmo natural --------------------------------
    plt.subplot(5,7,k+15)     

    Transf2 = None          #  En esta línea se debe aplicar el logaritmo natural a los valores de cada variable "k" sin transformar.
    None                    #  En este línea agrega el comando para obtener el histograma de Transf2 con 20 barras (bins).


    plt.xlabel(variables_a_transformar[k])
    if k==0:
      plt.ylabel('Logaritmo')
    


    # Datos transformados con la potencia de 2 ---------------------------------
    plt.subplot(5,7,k+22)

    Transf3 = None          #  En esta línea debes elevar al cuadrado los valores de cada variable "k" sin transformar.
    None                    #  En este línea agrega el comando para obtener el histograma de Transf3 con 20 barras (bins).


    plt.xlabel(variables_a_transformar[k])
    if k==0:
      plt.ylabel('Potencia 2')
    

    # Datos transformados con Box-Cox ------------------------------------------
    plt.subplot(5,7,k+29)

    Transf4 = None          #  En esta línea se debe aplicar la transformación Box-Cox a los valores de cada variable "k" sin transformar.
    None                    #  En este línea agrega el comando para obtener el histograma de Transf4 con 20 barras (bins).


    plt.xlabel(variables_a_transformar[k])
    if k==0:
      plt.ylabel('Box-Cox')

    # TERMINA LA SECCIÓN PARA AGREGAR CÓDIGO.
    ################################################################################################################

    

plt.show()

### Exercise 3: Performance metrics: $RMSE$, $MAE$, and $MAPE$

**Instructions:**

Each of the metrics can be calculated using the actual observed values ​​$y$, the predicted values ​​$\hat{y}$ and the total records $n$.

In this exercise you will define each of these metrics using three functions that you will call my_RMSE, my_MAE and my_MAPE.

Each of the three functions you define must have two arguments, namely the actual observed values ​​$y$ and the predicted values ​​$\hat{y}$.

The return value must be the actual numerical value given by the formula that defines it.

You will only be able to use NumPy's mean, square, and abs functions, plus basic arithmetic operations.

For the definition of each of them, at most 5 lines of code in total would be expected, but they may be less. An amount greater than this will be penalized.

In [ ]:
#########################################################################
# INICIA LA SECCIÓN PARA AGREGAR CÓDIGO.
# Ejercicio 3

# Incluye aquí las líneas de código que definan a la función: mi_RMSE:
None




# Incluye aquí las líneas de código que definan a la función: mi_MAE:
None 




# Incluye aquí las líneas de código que definan a la función: mi_MAPE:
None




# TERMINA LA SECCIÓN PARA AGREGAR CÓDIGO.
#########################################################################

In [ ]:
Xtrain = misdatos.drop('median_house_value', axis='columns')                                                                     
ytrain = misdatos['median_house_value']  

num_prepro_pipeline = Pipeline(steps = [('imputar', SimpleImputer(strategy='median')),  
                                        ('scalar', MinMaxScaler(feature_range=(1, 2))),
                                        ('sqrt', FunctionTransformer(np.sqrt))
                                        ])     

numerical_features = ['total_rooms','total_bedrooms','population','households','median_income']

columnasTransformer = ColumnTransformer(transformers = [('numerical', num_prepro_pipeline, numerical_features)],
                                        remainder='passthrough')

modelo_LR = LinearRegression()

scores_RMSEVal = []
scores_MAEVal = []
scores_MAPEVal = []

kf = KFold(n_splits= 10, shuffle=True)   

for train_index, val_index in kf.split(Xtrain):

  X_train, X_val = Xtrain.loc[train_index], Xtrain.loc[val_index]
  y_train, y_val = ytrain[train_index], ytrain[val_index]

  XtrainFit = columnasTransformer.fit(X_train)   
  XtrainTransf = XtrainFit.transform(X_train)    

  modelo_LR = modelo_LR.fit(XtrainTransf, y_train) 

  XvalTransf = XtrainFit.transform(X_val) 
  yhatVal = modelo_LR.predict(XvalTransf)  

  scores_RMSEVal.append(mi_RMSE(y_val, yhatVal))
  scores_MAEVal.append(mi_MAE(y_val, yhatVal))
  scores_MAPEVal.append(mi_MAPE(y_val, yhatVal))


# Desplegar información:
results = [scores_RMSEVal, scores_MAEVal, scores_MAPEVal]
names = ['RMSEval','MAEval','MAPEval']

print("\t  %s\t\t%s   \t\t%s" % (names[0],names[1],names[2]))
for i,z in enumerate(zip(scores_RMSEVal, scores_MAEVal, scores_MAPEVal)):
  print("fold[%d]:  %.1f \t\t%.1f  \t\t%.1f%%" % (i+1,z[0],z[1],z[2]))
print("mean(std) %.1f(%.1f)  \t%.1f(%.1f)   \t%.1f%% (%.1f)" % (np.mean(scores_RMSEVal), np.std(scores_RMSEVal),
                                                                np.mean(scores_MAEVal), np.std(scores_MAEVal),
                                                                np.mean(scores_MAPEVal), np.std(scores_MAPEVal)))

**\<\<End of Activity 2>>**